<!DOCTYPE html>
<html>
  <head>
    <title>Bspoke</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
      <meta charset="utf-8">
      <script src="http://js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
      <script src="http://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>

  </head>
  <body>
    <div class="nav-bar">
      <h4><%= link_to root_path do %></h4>
        <div class="logo">
          <%= image_tag "logo.png" %>

          <% end %>
    </div>
      <nav class="drop-down">
        <%= render "layouts/drop_down" %>

      </nav>
    </div>

    <div class="devise-stuff">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

       <%= yield %>
     <footer id="about">
      <a href="/about_page" class="about-header"><h4>About</h4></a>
        <div id="about-page">
          <p>BSpoke is a mobile-first web app that enables cyclists to find safe routes by allowing users the ability to place markers on the map in order to notify other cyclists of possible dangers along their route.

          Users are given the option to avoid the markers of their choice, by doing so they are given an alternative route that is then sent to the google maps application for turn-by-turn directions. </p>
          <h4> Legend </h4>
          <img src="http://res.cloudinary.com/lx9gdutds/image/upload/v1497219196/bspoke_warning_izvhrq.png"><li>Other - Miscellaneous things you may want to avoid</li>

          <img src="http://res.cloudinary.com/lx9gdutds/image/upload/v1497223391/smell_warning_pfms1z.png"><li>Unpleasant Smells</li>

          <img src="http://res.cloudinary.com/lx9gdutds/image/upload/v1497220304/goose_warning_no_color_ze3xkp.png"><li>Beware of Geese Attacks</li>

          <img src="http://res.cloudinary.com/lx9gdutds/image/upload/v1497221277/party_warning_swwwmb.png"><li>Event in the area, possible road blocks, pedestrian traffic</li>

          <img src="http://res.cloudinary.com/lx9gdutds/image/upload/v1497220166/warning_cone_aw0l7w.png"><li>Unsafe Road Conditions or Road Construction happening </li>
        </div>
    </footer>


  </body>



</html>
